*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background: no-repeat linear-gradient(rgba(0,0,0,.50) 50%, rgba(0,0,0,.50) 50%) , url("Anime school background.png");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
header, footer{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    width: -webkit-fill-available;
}
main{
    width: 100%;
    height: 90vh;
}
header{
    height: 15vh;
    margin-bottom: 20px;
    
    
}
footer{
    height: 20vh;
    bottom: 0;

}
.container{
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    
    margin-top: 10px;
    background: rgba(247, 245, 245, 0.658);
    padding: 10px;
    height: 70vh;
    width:50vh;
    margin: auto;


}
.btn{
    height: 30px;
    width: 150px ;
    border-radius: 2px ;
    border: 1px solid rgba(255, 255, 255, 0.733);
    margin-top: 30px;
    margin-bottom: 30px;
}
.input{
    background: rgb(247, 245, 245);
    text-align: center;
    color: rgb(45, 42, 209);
    
    border-style:none;
    border-bottom: 2px solid black;
    width: 250px;
    height: 30px;
    margin-top: 30px;

}
.nav{
    margin: auto;

}
.sn{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Times New Roman';
    padding-top: 20px;
    height: 14vh;

}
.border {
    

    
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;

    height: 70vh;
    width:50vh;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    
}
.main-con{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.img{
    height: 75px;
    margin: 10px auto 0 10px;
    border-radius: 40px;
    float: left;
    
}
.btns{
    flex-wrap: wrap;


}
@media(min-width= 700px){
    .border{
        display: none;
    }
}